@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --cardHeight: 350px;
}

::-moz-selection {
  color: #fff;
  background-color: orange;
}

::selection {
  color: #fff;
  background-color: orange;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html i, html a {
  cursor: pointer;
}

html .mb {
  margin-bottom: 60px;
}

html .mb-3 {
  margin-bottom: 3rem !important;
}

html .mt {
  margin-top: 30px;
}

html .p-0 {
  padding: 0 !important;
}

html .pl {
  padding-left: 1.5rem !important;
}

html .pt {
  padding-top: 5rem !important;
}

html .pt-1 {
  padding-top: 1rem !important;
}

html .pt-2 {
  padding-top: 2rem !important;
}

html .pt-3 {
  padding-top: 3rem !important;
}

html .pl-1 {
  padding-left: 1rem !important;
}

html .pr-1 {
  padding-right: 1rem !important;
}

html .pr-2 {
  padding-right: 2rem !important;
}

html .pr-3 {
  padding-right: 3rem !important;
}

html .small-text {
  font-size: .8rem !important;
}

html .bd-r {
  border-right: 1px solid #000;
}

html .n-u {
  border: 0 !important;
  outline: 0;
}

html .orange.lighten-6 {
  background-color: #fff6e6 !important;
}

html .orange.lighten-7 {
  background-color: #fffdf9 !important;
}

html body {
  overflow-x: hidden;
}

html body li.options {
  position: relative;
}

html body li.options .quantity-info-status {
  font-size: .75rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  top: 30px;
}

html body .fail {
  border-bottom-color: red !important;
}

html body .fail + label {
  color: red !important;
}

html body .pass {
  border-bottom-color: teal !important;
}

html body .pass + label {
  color: teal !important;
}

html body .loader {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

html body .loader img {
  width: 25%;
}

html body p, html body .size-1 {
  font-size: 1.25em;
}

html body .scape {
  width: 100% !important;
}

html body .cross-section {
  width: 100%;
  height: 25vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
  background-color: #fffbec;
}

html body .opposite {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 15%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 15%);
}

html body blockquote {
  text-transform: uppercase;
  border-left-color: orange;
}

html body blockquote.exceptionquote {
  border-left-color: transparent !important;
  border-right: 5px solid orange;
  padding-right: 1rem;
}

html body nav img {
  width: 25%;
  -webkit-transform: translate(-50%, -10%) !important;
          transform: translate(-50%, -10%) !important;
}

html body nav li a {
  text-transform: uppercase;
}

html body nav li i {
  margin-right: 10px;
  cursor: pointer;
}

html body main .section2 {
  padding: 0;
  margin: 0;
  height: 50vh;
}

html body main iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}

html body main .card-content {
  padding-left: 15px !important;
}

html body main .parallax-container {
  height: 100vh;
  padding-top: 300px;
}

html body main .container2 {
  height: 80vh !important;
}

html body main .container3 {
  height: 730px !important;
  padding-top: 70px;
}

html body main .container3 .form-wrapper {
  padding: 1rem;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

html body main #beer-price {
  font-size: 1.5rem !important;
  color: #0abd90;
}

html body main input[type="radio"]:checked + span::after {
  border: 2px solid #ffb223;
  background-color: #ffb223 !important;
}

html body main .input-field input[type="text"]:focus, html body main .input-field input[type="email"]:focus {
  border-bottom-color: #ffb223 !important;
  -webkit-box-shadow: 0 1px 0 0 #ffb223 !important;
          box-shadow: 0 1px 0 0 #ffb223 !important;
}

html body main .input-field input[type="text"]:focus + label, html body main .input-field input[type="email"]:focus + label {
  color: #ffb223 !important;
}

html body main .input-field label {
  font-size: 1.25rem !important;
}

html body main .input-field .dropdown-content li > a,
html body main .input-field .dropdown-content li > span {
  color: #ffb223 !important;
}

html body main input[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #dd9000;
  border-bottom: 2px solid orange;
}

html body main .fail {
  border-bottom-color: red !important;
}

html body main .pass {
  border-bottom-color: teal !important;
}

html body main .product-image {
  height: var(--cardHeight);
}

html body main #addToCart {
  margin: 0 !important;
}

html body main .textarea {
  width: 100%;
  height: 180px;
  border: 0;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #b4b4b4;
  padding: 1rem;
  resize: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html body main .textarea:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ffb223 !important;
}

html body main .textarea:focus + label {
  color: #ffb223;
}

html body main label {
  font-size: 16px !important;
}

html body footer {
  margin-top: 0 !important;
}
/*# sourceMappingURL=style.css.map */