@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:not(i) {
        font-family: 'Poppins', sans-serif !important;
    }
}

:root {
    --cardHeight: 350px;
}

::selection {
    color: #fff;
    background-color: orange;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    i, a {
        cursor: pointer;
    }
    .mb {
        margin-bottom: 60px;
    }
    .mt {
        margin-top: 30px;
    }
    .p-0 {
        padding: 0 !important;
    }
    .pl {
        padding-left: 1.5rem !important;
    }
    .pt {
        padding-top: 5rem !important; 
    }
    .pt-1 {
        padding-top: 1rem !important;
    }
    .pt-2 {
        padding-top: 2rem !important;
    }
    .pt-3 {
        padding-top: 3rem !important;
    } 
    .pl-1 {
        padding-left: 1rem !important;
    }
    .small-text {
        font-size: .8rem !important;
    }
    .orange {
        &.lighten-6 {
            background-color: rgb(255, 246, 230) !important;
        }
        &.lighten-7 {
            background-color: rgb(255, 253, 249) !important;
        }
    }
    body {
        overflow-x: hidden;
        .loader {
            width: 100%;
            height: 100vh;
            background-color: #fff;
            @include flexProperty(row, center,center);
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            img {
                width: 25%;
            }
        }
        p {
            font-size: 1.25em;
        }
        .cross-section {
            width: 100%;
            height: 25vh;
            clip-path: polygon(0 0, 100% 0, 100% 15% , 0 100%);
            background-color: rgb(255, 251, 236);
        }
        .opposite {
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 15%);
        }
        blockquote {
            text-transform: uppercase;
            border-left-color: orange;
            &.exceptionquote {
                border-left-color: transparent !important;
                border-right: 5px solid orange;
                padding-right: 1rem;
            }
        }
        nav {
            img {   
                width: 25%;
                transform: translate(-50%,-10%) !important;
            }
            li {
                a {
                    text-transform: uppercase;
                }
                i {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
        main {
            .card-content {
                padding-left: 15px !important;
            }
            .parallax-container {
                height: 100vh;
                padding-top: 300px;
            }
            .container2 {
                height: 80vh !important;
            }
            #beer-price {
                font-size: 1.5rem !important;
                color: rgb(10, 189, 144);
            }
            .input-field {
                input[type="text"]:focus {
                    border-bottom-color: rgb(255, 178, 35) !important;
                    box-shadow: 0 1px 0 0 rgb(255, 178, 35) !important;
                    &+label {
                        color: rgb(255, 178, 35) !important;
                    }
                }
                label {
                    font-size: 1.25rem !important;
                }
                .dropdown-content {
                    & li {
                        &>a,
                        &>span {
                            color: rgb(255, 178, 35) !important;
                        }
                    }
                }
            }
            input[type="checkbox"]:checked + span:not(.lever):before {
                border-right: 2px solid rgb(221, 144, 0);
                border-bottom: 2px solid orange;
            }
            .product-image {
                height: var(--cardHeight);
            }
            #addToCart {
                margin: 0 !important;
            }
        }
        footer {
            #footer-logo {
                filter: grayscale(100%);
            }
        }
    }
}